<!-- Flotante de notificaciones -->
<button id="notifications-flot" (click)="toggleNotificationsPanel()">
    <i class="bi bi-bell-fill"></i>
</button>

<!-- Solamente se desplegará el panel si podes invitar o ver invitaciones
 NOTA: En nuestro negocio, sería dos acciones mutuamente excluyentes -->
@if (mostrarPanel && (listarNotificaciones || puedeInvitar)) {
  <div class="floating-card">
    <h3>Invitaciones</h3> <br><hr><hr><br>

    @if(listarNotificaciones) {
      <app-list-invitations></app-list-invitations>
    }

    @if(puedeInvitar) {
      <app-send-invitations></app-send-invitations>
    }
</div>
}