<form [formGroup]="userForm" (ngSubmit)="onSubmit()" action="">
    <h1>Registrate para comenzar</h1>   <div></div>

    <div class="inputs-container inputs-required">
        <label>(*) Nombre de Usuario:</label>
        <input formControlName="username" type="text" placeholder="Crea el nombre por el que te conozcan"/>

        <label>(*) Email:</label>
        <input formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" />

        <label>(*) Contraseña:</label>
        <input formControlName="password" type="password" placeholder="Crea una contraseña segura" />
    </div>

    <div class="inputs-container">
        <label>Nombre:</label>
        <input formControlName="first_name" type="text" placeholder="Ingresa tu nombre" />

        <label>Apellido:</label>
        <input formControlName="last_name" type="text" placeholder="Ingresa tu apellido" />

        <button type="submit">Registrarse</button>
    </div>
</form>