<main>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" action="">

        <span>Registrate para comenzar</span>

        <label><b>(*)</b> Nombre de Usuario:</label>
        <input formControlName="username" type="text" placeholder="Crea el nombre por el que te conozcan"/>

        <label><b>(*)</b> Email:</label>
        <input formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" />

        <label><b>(*)</b> Contraseña:</label>
        <input formControlName="password" type="password" placeholder="Crea una contraseña segura" />

        <label>Nombre:</label>
        <input formControlName="first_name" type="text" placeholder="Ingresa tu nombre" />

        <label>Apellido:</label>
        <input formControlName="last_name" type="text" placeholder="Ingresa tu apellido" />


        <button type="submit">Registrarse</button>
    </form>
</main>