.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 4fr 4fr;
}

.goBackBtn {
    background-color: var(--tertiary-bg-color);
    color: var(--main-bg-color);
    font-weight: 600;
    border: 1px solid var(--main-bg-color);
    width: 20%;
    min-height: 36px;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 20px;
}

.member-container {
    padding: 1rem;

    outline: 1px solid black;
}

.member-data {
    font-size: 1.1rem;
}

.member-data-rol {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}


.member-container>div:first-child {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

.member-administrate-bottons button {
    min-width: 45%;
    min-height: 40px;

    margin-right: 3%;

    color: var(--main-bg-color);
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;

    border-radius: 60px;
}

.member-administrate-bottons>button:first-child {
    background-color: var(--success-color);
}
.member-administrate-bottons>button:last-child {
    background-color: var(--tertiary-bg-color);
}

.rols-selector {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .4rem;
}
.rols-selector button {
    cursor: pointer;
    width: 30%;
    min-height: 40px;
    background-color: #1676F3;
    outline: none;
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    font-weight: 700;
    border-radius: 60px;
}

.newMembersList button {
    margin-top: .9rem;
    background-color: var(--tertiary-bg-color);
    color: var(--main-bg-color);
    font-weight: 400;
    font-size: 1.1rem;
    min-width: 25%;
    min-height: 35px;
    border-radius: 16px;

    outline: none;
    border: 1px solid var(--main-bg-color);

    cursor: pointer;
}