<div class='main-container pers'>
    
    <div class='title-container pers'>
        <span>
            TAREAS DEL PROYECTO ORGANIZACIONAL
        </span>
    </div>
    <div class="projects-container">
        @for(tarea of tasks; track tarea.id) {
            <!-- Acá verificamos si se quiere editar la tarea que se renderizó en esta iteración -->
            @if(editTaskId === tarea.id) {
            }
            @else {
                <div class='project-container pers'>
                    <div class="project-header">
                        <span>Tarea: "{{ tarea.name }}"</span>
                        <div>
                            @if (!tarea.completed) {
                                <button class="proyect-edit-button" (click)="completeTask(tarea)">
                                    <i class="bi bi-check2-circle"></i></button>
                            }@else {
                                <i class="bi bi-check-circle"></i>
                            }
                            <button class="proyect-edit-button" (click)="deleteTask(tarea)">
                                <i class="bi bi-trash"></i></button>
                                <button class="proyect-edit-button" (click)="editing = tarea; editingBool = true">
                                <i class="bi bi-pencil"></i></button>
                            </div>
                    </div>
                    <div>
                        <p>Fecha límite {{ tarea.expiration_datetime | date }}</p>
                    </div>
                    <div class="project-description">
                        <p>{{ tarea.description }}</p>
                    </div>
                    <div class="project-description">
                        @if(tarea.predecessors && tarea.predecessors.length > 0) {
                            <p>Tareas predecesoras:</p>
                            @for (pred of tarea.predecessors; track pred.id) {
                                <p style="font-weight: bolder;">- '{{ pred.name }}'</p>
                            }
                        }
                    </div>
                    <div>
                        @if(tarea.assigned_teams && tarea.assigned_teams.length > 0) {
                            <p>Equipos asignados</p>
                            @for(team of tarea.assigned_teams; track team.id) {
                                <p style="font-style: italic;">{{ team.name }}</p>
                            }
                        }
                    </div>
                    <div>
                        @if(tarea.assigned_users && tarea.assigned_users.length > 0) {
                            <p>Usuarios asignados</p>
                            @for(user of tarea.assigned_users; track user.id) {
                                <p style="font-style: italic;">{{ user.username }}</p>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
    @if (editing !== null) {
        <app-task-editor-creator
            [orgId]="organization_id"
            [proyId]="project_id"
            [task]="editing"
            (save)="onSave($event)"
            (cancelled)="editing = null"/>
    }

    <div>
        @for (newMember of addMembers; track newMember.id) {
            <div>
                <span>{{ newMember.user_username }}</span>
                <button (click)="agregarAlProyecto(newMember)">Agregar al proyecto</button>
            </div>
        }
    </div>
<button (click)="newTask()" class="btn-create">Crear Tarea</button>