<main>
    <article>
        <div>
            <img src="home-gestion.png" alt="Gestión" />
        </div>
        <div class="article-body">
            <div class="a-title">
                <span>Gestión Eficiente de Tareas</span>
            </div>
            <div class="a-text">
                <p>Con Tareas, puedes crear y organizar tus actividades de manera personalizada. Establece fechas límite cuando lo necesites o mantén un enfoque flexible. Además, puedes marcar las tareas completadas para llevar un registro visual de tu progreso y sentir la satisfacción de cumplir tus objetivos.</p>
            </div>
        </div>
    </article>    
</main>