article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 16px;

    align-items: center;
}

img { 
    margin: 1.2rem;
    max-width: 750px; 
}

.a-title {
    font-weight: 400;
    font-size: 2.4rem;

    text-align: center;
}

.a-text {
    letter-spacing: 6px; /* Separar horizontalmente letras */
    line-height: 80px;   /* Tamaño del salto de línea */
    font-weight: 300;
    font-size: 40px;

    padding: 4rem;
}
