.floating-card {
  position: fixed;
  bottom: 80px;
  right: 20px;

  width: 25vw;
  max-height: 80vh;
  overflow-y: auto;

  border-radius: 8px;
  padding: 16px;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  z-index: 999;
}