<main>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" action="">

        <span>Inicia sesión para continuar</span>

        <label style="margin-top: 4rem;"><b>(*)</b> Email:</label>
        <input formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" />

        <label style="margin-top: 4rem;"><b>(*)</b> Contraseña:</label>
        <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" />


        <button type="submit" style="margin-top: 4rem;">Iniciar Sesión</button>
    </form>
</main>