<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" action="" style="grid-template-columns: 1fr; max-width: 900px; margin: 5rem auto;">
    <h1>Inicia Sesión para Continuar</h1>

    <div class="inputs-container inputs-required">

        <label>(*) Email:</label>
        <input formControlName="email" type="email" placeholder="Ingresa tu correo electrónico" style="width: 100%;"/>

        <label>(*) Contraseña:</label>
        <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" style="width: 100%;" />
    
        
        <button type="submit" style="width: 100%;">Iniciar Sesión</button>
    </div>
</form>