#notifications-flot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 50% 0 0 50%;
  border: none;
  padding: 16px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

main {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#notifications-flot:active {
    box-shadow: none;
}