<div [ngClass]="['main-container', projectType === prEnum.ORGANIZATIONAL? 'org' : 'pers']">
    
    <div [ngClass]="['title-container', projectType === prEnum.ORGANIZATIONAL? 'org' : 'pers']">
        <span>
            @switch (projectType) {
                @case (prEnum.PERSONAL) {PROYECTOS PERSONALES}
                @case (prEnum.ORGANIZATIONAL) {PROYECTOS ORGANIZACIONALES}
            }
        </span>
    </div>
    
    <div class="projects-container">
        @for(proyecto of projects; track proyecto.title) {
            <div [ngClass]="['project-container', projectType === prEnum.ORGANIZATIONAL? 'org' : 'pers']">
                <div class="project-header">
                    <span>Proyecto: "{{ proyecto.title }}"</span>
                    <button class="trash-button"><i class="bi bi-trash"></i></button>
                </div>
                <div class="project-info">
                    <span>Creado el: {{ proyecto.creation_date | date : 'dd/MM/yyyy' }}</span>
                </div>
                <div class="project-description">
                    <span>{{ proyecto.description }}</span>
                </div>
                <div style="text-align:center;">
                    <button>Ir al Proyecto</button>
                </div>
            </div>
        }
    </div>
</div>